<%- include partials/navbar %>


<div class="container-fluid">
    <div class="row">


        <%- include partials/leftpanel %>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <%- body %>

        </div>
    </div>
</div>


<% block('localScripts', '<script src="/js/dashboard/customers.js"></script>') -%>
<% block('localScripts', '<script src="/js/dashboard/literaryworks.js"></script>') -%>