<!DOCTYPE html>
<html>
<head>
    <title>New Sails App</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/dependencies/bootstrap.2-3-0.css">
    <link rel="stylesheet" href="/styles/dependencies/bootstrap-theme.2-3-0.css">
    <link rel="stylesheet" href="/styles/dependencies/jquery-ui-1.11.2.css">
    <link rel="stylesheet" href="/styles/dependencies/pnotify.custom.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
</head>

<body class="wrapper-login">
<%- body %>


<!--TEMPLATES-->

<!--TEMPLATES END-->

        <%- partial('../layouts/partial/commonJS.ejs') %>
        <!--SCRIPTS-->
        <script src="/js/dependencies/sails.io.js"></script>
        <script src="/js/dependencies/jquery.1-11-1.js"></script>
        <script src="/js/dependencies/jquery-ui.1-11-2.js"></script>
        <script src="/js/dependencies/bootstrap.2-3-0.js"></script>
        <script src="/js/dependencies/pnotify.custom.js"></script>
        <script src="/js/global.js"></script>
        <script src="/js/views/customers.js"></script>
        <script src="/js/views/literaryworks.js"></script>
        <!--SCRIPTS END-->
    </body>
</html>
