
<h1 class="page-header">Dashboard: Loans</h1>

<div class="container-fluid">
    <div class="row">

        <div class="col-md-8">

            <h2 class="sub-header">Manage loans</h2>
            <table class="table table-striped" id="worksTable">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Created At</th>
                        <th>Customer</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody><!-- Content are loaded dynamically --></tbody>
            </table>

        </div>

        <div class="col-md-4">
            <h2 class="sub-header">Create a loan</h2>
            <p>Choose a user and then an available copy.</p>
            <form role="form" id="createLoan">
                <div class="form-group">
                    <label for="">Customer</label>
                    <select class="form-control" name="customer">
                        <option value="-1">Choose a user</option>
                        <% _.each( customers, function (customer) { %>
                            <option value="<%= customer.ID %>"><%= customer.name %></option>
                        <% }) %>
                    </select>
                </div>
                <div class="form-group">
                    <label for="">Copy</label>
                    <select class="form-control" name="reference">
                        <option value="false">Choose a user first</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>

        </div>

    </div>
</div>


<% block('localScripts', '<script src="/js/dashboard/loans.js"></script>') -%>