<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li data-route="index"><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li data-route="customers"><a href="/customers"><span class="glyphicon glyphicon-user"></span> Customers</a></li>
        <li data-route="literaryworks"><a href="literaryworks"><span class="glyphicon glyphicon-book"></span> Literary works</a></li>
        <li><a href="#">Analytics</a></li>
        <li><a href="#">Export</a></li>
    </ul>
</div>